<p>@Html.ActionLink("************ Books ************", "Index", "Book")</p>
<p>@Html.ActionLink("************ Weather ************", "Index", "Weather")</p>
<h1>All Articles:</h1>

<ol>
@foreach (Article article in Model)
{
    <ul>
        <li>Section: @article.Section</li>
        <li>Title: @article.Title</li>
        <li>Abstract: @article.Abstract</li>
        <li>Url: @article.Url</li>
        <li>Byline: @article.Byline</li>
        <li>Created Date: @article.Created_Date</li>
        <li>@Html.ActionLink($"{article.Url}", null, null, null)</li>
         
    </ul>
    <br>
}
</ol>

<p>@Html.ActionLink("************ Books ************", "Index", "Book")</p>
<p>@Html.ActionLink("************ Weather ************", "Index", "Weather")</p>

